<div data-ng-controller="plugin-snakewidget.controllers.stylerController">

    <div class="settings-pane-host">

        <div class="pane-row">
            <div class="pane-row-title">Opacity</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="0.1"
                                 data-max="1"
                                 data-step="0.01"
                                 data-value="model.opacity"
                                 data-trigger="change"
                                 data-on-release="refreshWidget()"></data-slider>
                </div>
            </div>        
		</div> 

		<div class="pane-row">
				<div class="pane-row-title">Y Axis Label</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.yAxisLabelEnabled}" data-ng-click="setYAxis(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.yAxisLabelEnabled}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Enabled</div>
					 </div>
					 
					  <div data-ng-class="{ selected: !model.yAxisLabelEnabled}" data-ng-click="setYAxis(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: !model.yAxisLabelEnabled}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Disabled</div>
					 </div>
					 
				</div>
		</div>

		<div class="pane-row">
				<div class="pane-row-title">X Axis Label</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.xxisLabelEnabled}" data-ng-click="setXAxis(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.xAxisLabelEnabled}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Enabled</div>
					 </div>
					 
					  <div data-ng-class="{ selected: !model.xAxisLabelEnabled}" data-ng-click="setXAxis(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: !model.xAxisLabelEnabled}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">Disabled</div>
					 </div>
					 
				</div>
		</div>
		
	</div>
</div>